<nz-layout style="height: 100%;">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo">
        </div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
            <li nz-menu-item [routerLink]="'dashboard'"><span><i class="anticon anticon-dot-chart"></i><span class="nav-text">Dashboard</span></span></li>
            <li nz-submenu>
                <span title><i class="anticon anticon-setting"></i><span class="nav-text">Management</span></span>
                <ul>
                    <li nz-menu-item [routerLink]="'register'">Registry</li>
                    <li nz-menu-item [routerLink]="'test'">Maintain</li>
                </ul>
            </li>
            <li nz-menu-item [routerLink]="'about'"><span><i class="anticon anticon-user"></i><span class="nav-text">About</span></span></li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header style="background: #fff; padding:0;">
            <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed"
               [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
            <a href="https://github.com/pipiliang/mockility" style="color: black;">
                <i class="anticon anticon-github" style="float: right;padding: 24px; font-size: large;"></i>
            </a>
        </nz-header>
        <nz-content style="margin:0 16px;">
            <router-outlet></router-outlet>
        </nz-content>
        <nz-footer style="text-align: center;">Mockility ©2018 Implement By NG-ZORRO</nz-footer>
    </nz-layout>
</nz-layout>